<!DOCTYPE html>
<html lang="en">

<head>
    <title>test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to the Quoting Dojo</h1>
        <% if(typeof(errors) != 'undefined' ) { %>
            <% for (var x in errors) { %>
                <h3>
                    <%= errors[x].message %>
                </h3>
            <% } %>
        <% } %>
        <form class="form-horizontal" action="/addQuote" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="age">Quote:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="quote" placeholder="Enter Quote" name="quote">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Add To Quotes</button>
                </div>
            </div>
        </form>
        <a href="/quotes" class="btn btn-default">Skip To Quotes</a>
    </div>

</body>

</html>